* {
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;*/
}
img, object, embed {
  /*background-size: cover;*/
  /*display: block;*/
  max-width: 100%;
  position: relative;
}
body {
  padding-top: 60px;
}
div {
  overflow: hidden;
}
.item {
  /*padding: 5px;*/
  margin: 4px;
  /*padding-bottom: -20px;*/
  background-color: rgba(155, 102, 255, 0.7);
  /*height: 150px;*/
  ;
}
.title {
  position: relative;
  z-index: 99;
  font-size: 14px;
  /*padding: 5px;*/
  color: white;
  background-color: rgba(2, 226, 67, 0.8);
  /*vertical-align: top;*/
  /*top: -29px;*/
  /*padding-left: 10px;*/
  width: 100%;
}

/** {
  box-sizing: border-box;
}

.grid {
  background: #EEE;
  max-width: 1200px;
}*/

.column {
  float: left;
}
.size-1of4 {
  width: 25%;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of2 {
  width: 50%;
}

/* Configurate salvattore with media queries */

@media screen and (max-width: 450px) {
  #timeline[data-columns]::before {
    content: '1 .column';
  }
}
@media screen and (min-width: 451px) and (max-width: 700px) {
  #timeline[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 701px) and (max-width: 850px) {
  #timeline[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 851px) {
  #timeline[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}

/* clearfix */


/*.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}
.bordercol {
  border-right: 2px solid darkgray;
}
.storyDesc {
  padding-bottom: 5px;
}
.row {
  margin-bottom: 50px;
}
#content .fa {
  margin-right: 5px;
  color: gray;
}
.title {
  margin-bottom: 5px;
}*/

.container {
  /*max-width: 768px;*/
}
#timeline {
  /*-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
}